<ion-view view-title="Mural">
  <ion-content>
      <ion-item ng-repeat="datos in mural">
        <ion-item list card>
          <a href="#/app/perfil" class="item">
            <div class="item item-avatar">
            <img src="{{datos.avatar}}"> 
             <h2>{{datos.nombres}} {{datos.apellido1}} {{datos.apellido2}}</h2>
              <p>{{datos.fecha}}</p>
            </div>
          </a>
   
          <div class="item item-body">   
              <p>
                  {{datos.mensaje}}
              </p>

          </div>

      </ion-item>

    
  </ion-content>  
</ion-view>
