<ion-view view-title="Nosotros">
  <ion-content>
    <div class="card">
  		<div class="item item-text-wrap">
    		<h1></h1>
    		<p>Equipo de desarrollo de software de la Corporacion Sigtics</p>
  		</div>
	</div>

    <ion-list ng-repeat="datos in equipo"> 

    <a class="item item-avatar" href="#/app/perfil">
      <img src="{{datos.avatar}}">
      <h2>{{datos.nombres}} {{datos.apellido1}} {{datos.apellido2}}</h2>
      <p>{{datos.dereccion}}</p>
    </a>
</ion-list>
  </ion-content>
</ion-view> 
