<ion-view view-title="Contacto">
  <ion-content>
 		<div class="list list-inset">
  			<label class="item item-input">
    		<input type="text" placeholder="Nombre Completo" >
  			</label>
  			<label class="item item-input">
   			<input type="text" placeholder="asass@asas.com" >
  			</label>
  			<label class="item item-input">
   			<textarea name="" placeholder="Descripcion" ></textarea>
  			</label>
  			<label class="item item-input">
   			<input type="button" value="Enviar" class="button button-stable" align="center">
  			</label>

		

			</div>
  </ion-content>
</ion-view>
